{% extends 'base.html' %}

{% block content %}
    <div class="container points-container">

        <table class="table table-bordered table-hover" id="points-table">
            <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Points</th>
                <th scope="col">Golfer</th>
            </tr>
            </thead>
            <tbody>
                {% for golfer_tup in rankings %}

                <tr>
                    <td>{{ golfer_tup.2 }}</td>
                    <td>{{ golfer_tup.1 }}</td>
                    <td>{{ golfer_tup.0 }}</td>

                </tr>



                {% endfor %}
            </tbody>

        </table>

    </div>

{% endblock %}