{% extends 'base.html' %}

{% block content %}

{% if tournament_list %}
    <div class="container" id="tournament-container">
        <table class="table-hover table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Course</th>
                    <th scope="col">Tournament</th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournament_list %}
                    <tr>
                        <td><a href="{% url 'tournaments:detail' tournament.id %}">{{ tournament.date }}</a></td>
                        <td>{{ tournament.get_course_display }}</td>
                        <td>{{ tournament.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>To Tournaments Availible at this Time</p>
{% endif %}

{% endblock %}