{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>
            <strong>THE GOLF TRAILS OF THE</strong>
        </h1>
        <strong>WOODLANDS & LAKE</strong>
        <strong>WINDCREST GOLF CLUB</strong>
        <br />
        <strong>MEN’S GOLF ASSOCIATION<strong>
        <br />
        <strong>BY-LAWS</strong>
        <br />
        <p>Revised & MGA Membership Approved 4/19/2015</p>
        <br />
        <br />
        <strong>THE OAKS, PANTHER TRAIL & LAKE WINDCREST GOLF CLUB<strong>
        <br />
        <p>MENS GOLF ASSOCIATION</p>
        <p>BY LAWS</p>
        <p>Article 1</p>
        <p><u>NAME</u></p>
        <br />
        <table class="bylaw-table table">
            <tr>
                <td class=“bylaw-number”><strong>1.1</strong></td>
                <td class=“bylaw-rule”> <p> The name of this Association shall be The Oaks, Panther Trail & Lake Windcrest Golf Club Men’s Golf Association referred to as MGA or the Association.</p></td>
            </tr>
        </table>
        Article 2
        PURPOSE

        2.1 To stimulate interest in golf at The Oaks, Panther Trail and Lake Windcrest Golf Clubs.
        2.2 To promote and foster among the members of the association, fellowship and fraternity for their
        joint and mutual benefit and to promote and conserve the best interests and true spirit of the
        game of golf as embodied in its ancient and honorable traditions.
        2.3 To provide an authoritative body to govern and conduct Association competitions.

        Article 3
        MEMBERSHIP AND DUES

        3.1 All male golfing members of ClubCorp at The Oaks / Panther Trail and Lake Windcrest, who are
        eighteen (18) years or older, in good standing, and maintain a current GHIN account shall be
        eligible for membership in the MGA.
        3.2 Any previous MGA member who has upgraded to ClubCorp membership at The Woodlands
        Country Club shall have the option to continue their MGA membership but are ineligible to hold
        any MGA Board position.
        3.3 Annual dues for all MGA members are $75 and are due January 1st. The dues will be
        automatically billed to the member’s ClubCorp account and will appear on their monthly
        statement. Members have until the end of January to request a refund of their dues if they
        choose not to join. Members who join the MGA after June 1st will have their annual due reduced
        to $40. There will be no refunds after 30 days of membership.
        3.4 The amount of the annual dues shall be established by a majority vote of the Board of Directors
        3.5 Violations of the By-Laws or standing rules, as interpreted by the Board of Directors, will be dealt
        with by the Board. First offenders will receive a written notification from the Board. Second and
        subsequent offenses can result in suspension or expulsion. In case of expulsion any prepaid
        dues shall be forfeited. (Examples of violation may include falsifying score cards, failure to follow
        established rules of golf, for conduct unbecoming a member, etc.)


        Article 4
        MEETINGS

        4.1 MGA General Meetings will be held at least annually or when necessary as determined by the
        Board of Directors.
        4.2 The Board of Directors of the MGA shall meet once every month. Any member of the MGA shall
        be entitled to attend these meetings.
        4.3 Additional meetings may be called by the President of the Board at any time.
        4.4 A quorum consisting of FIVE (5) members of the Board of Directors must be present for any
        meeting that requires a vote on MGA business.
        Article 5
        BOARD OF DIRECTORS

        5.1 The Board of Directors shall be comprised of NINE (9) Members duly elected by the MGA
        membership. All elected Board Members will serve a TWO (2) year term. At the end of this
        term, these members may be replaced through the annual election of Board members which
        takes place at the General meeting every November. There is no limit on the number of
        consecutive terms for these Board Members.
        5.2 The Officers of the Board shall be: President, Vice President, Secretary and Treasurer. Other
        Board members shall be designated Chairmen of Committees as required and appointed by the
        Officers of the Board.
        5.3 The Board members who are elected to the office of President and Vice-President will serve a
        ONE (1) year term. The President and Vice-President can be elected to serve an additional, but
        no more than, ONE (1) consecutive term; thereby limiting the President and Vice-President from
        holding their position for more than two years in a row. If, however, there is no MGA Board
        member running for the position of President or Vice-President, then the current President or
        Vice-President may elect to continue in this position even if it means that they would be serving a
        third (or more) consecutive one-year term.
        5.4 The PRESIDENT shall preside at all meetings of the MGA and shall have general supervision of
        the affairs of the Association. He may call special meetings of either the Board of Directors or the
        general membership at his discretion and shall put into effect policies and plans of the
        Association. He shall appoint standing committee chairmen immediately after installation. He
        may appoint his ad-hoc committees as necessary.
        5.5 The VICE PRESIDENT in the absence of the President shall perform all duties of the President’s
        office. The Vice President shall also serve on the rules committee with the assistance from the
        professional staff.
        5.6 The SECRETARY shall take minutes of the general meetings and of the Board of Directors
        meetings. He shall email a copy of these minutes to all Board members as well as the club
        liaison to the MGA. He shall attend to the necessary correspondence of the Association and
        perform such other duties as may be requested by the Board of Directors.

        Page 3 of 4
        5.7 The TREASURER shall collect and deposit all funds into the MGA account and keep a record of
        same. This account may be subject to an audit as authorized by the Board of Directors. He shall
        perform such other duties ordinarily attached to the office of Treasurer. He shall give a report of
        the financial condition of the Association at each meeting. He shall post a current list of members
        of the MGA, in good standing and provide a copy of same to the Tournament Chairman and Vice
        President.
        5.8 Vacancies that occur during a term of office and prior to an annual election shall be filled by the
        Board of Directors from the MGA membership.

        5.9 Absence of any Board of Directors member for any two (2) consecutive meetings without prior
        notification or satisfactory explanation to the Officers of the Board shall be construed to be a
        resignation from the Board. Any Board member who fails to attend at least six (6) monthly Board
        meetings during any calendar year for whatever reason will be removed as a Board member.
        5.10 All meetings of the MGA shall be conducted in accordance with Robert’s Rules of Order.

        Article 6
        Elections

        6.1 The MGA shall hold its annual election during the month of November for those Board of
        Directors positions subject to replacement. A notice of the date of the election will be provided by
        the Secretary to the membership. The newly elected positions will commence on January 1 of the
        following year.
        6.2 Directors shall be elected by the majority of votes cast at the election.
        6.3 All members in good standing, who are not also a member of The Woodlands CC, are eligible
        and invited to run for election to the Board of Directors. Any such member wanting to run for
        election must advise the Board within a reasonable time (or at least 30 days) prior to the election.
        A notice of the date of the election will be provided by the Secretary to the membership. The
        Board shall form a nominating committee who in turn will select candidates from the membership
        who have indicated their willingness to serve.
        6.4 A slate of candidates will be composed by the Nominating Committee and presented to the
        membership prior to the election. The terms of office shall be TWO (2) years commencing
        January 1st following the election.
        6.5 The Officer positions of the Board shall be filled by election from all members of the Board of
        Directors (including outgoing and newly elected Board members) at the first Board meeting in
        January. The election of the position of President shall be limited to a person who has served on
        the MGA Board during the prior year.



        Article 7
        Committees


        7.1 From time to time various committees may be formed by the Board of Directors to oversee or
        coordinate activities of the MGA. One member of the Board of Directors shall be appointed as
        Chairman of any such committee. If necessary, the Chairman of this Committee may select and
        appoint members to assist in performing the requirements of such committee. Committee
        Chairmen shall be required to report the activities of their committees to the Board at the monthly
        meetings.

        Article 8

        Amendments

        8.1 These By-Laws may be altered or amended by a two-third vote of the MGA members or a
        quorum being present at any regularly scheduled meeting or special meeting of the MGA. A
        quorum shall consist of 20 MGA members.
    </div>


{% endblock %}